.section-footer {
    h1{
        margin-top : 3%;
        font-family: 'Sumana', serif;
        @include flexcenter();   
    }
    hr{
        width:80%;
        border-top : 2px solid black;
        @include flexcenter();
       
    }
}