@mixin flexcenter {
    display: flex;
    justify-content: center;
}

@import "./navigation";
@import "./footer";


body {
    background-color: black !important;
}

.slide-show {
    img {
        border-bottom: 5px solid whitesmoke;
    }
}

.line {
    width: 100%;
    height: 4px;
    background: ghostwhite;
}

.row-5 {
    iframe {
        width: 100%;
    }
}