.navbar-fixed {
  font-family: 'Rum Raisin', sans-serif;
}

.navbar-fixed img {
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.navbar-fixed img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar-fixed .navbar-brand:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.logo {
  font-size: 25px;
  text-align: center;
}

footer {
  background-color: white;
  margin-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: black;
}

.main1 img {
  width: 100%;
  height: 50%;
}

.main2 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
  font-family: 'Sumana', serif;
  margin-top: 30px;
}

.main2 hr {
  width: 5%;
  border-top: 2px solid;
  color: white;
}

.album-jason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.album-jason button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-left: 65px;
  
}

.album-jason h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  color: white !important;
  font-family: 'Sumana', serif;
  margin-bottom: 15px;
  margin-left: 0px;
}

.album-jason img {
  margin-bottom: 15px;
  margin-left: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main3 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
  font-family: 'Sumana', serif;
  margin-top: 30px;
}

.main3 hr {
  width: 5%;
  border-top: 2px solid;
  color: white;
}

.merchandise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.merchandise img {
  height: 330px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-left: 10px;
}

.merchandise img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main4 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white !important;
  font-family: 'Sumana', serif;
  margin-top: 30px;
}

.main4 hr {
  width: 5%;
  border-top: 2px solid;
  color: white;
}

.main4 {
  margin-bottom: 100px;
}

.hr-boundary {
  width: 100%;
  border-top: 3px solid;
  color: white;
  margin-top: 23px;
}

.section-footer h1 {
  margin-top: 3%;
  font-family: 'Sumana', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-footer hr {
  width: 80%;
  border-top: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 319px) and (max-width: 418px) {
  .album-jason {
    margin-right: 100px;
  }
  .merchandise img {
    height: 250px !important;
    width: 250px !important;
    display: flex;
    justify-content: center;
    margin-left: 10%;  
  }
  .album-jason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .album-jason button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    margin-left: 165px;
    
  }
  
  .album-jason h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
    color: white !important;
    font-family: 'Sumana', serif;
    margin-bottom: 15px;
    margin-left: 100px;
  }
  
  .album-jason img {
    margin-bottom: 15px;
    margin-left: 100px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=jason-ranti.css.map */